.bob {
  animation: Bobbing 1500ms linear infinite;
}

@keyframes Bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.pulse {
  animation: Pulsing 1500ms linear infinite;
}

@keyframes Pulsing {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
