.carousel-dots li button::before {
  color: white;
}

.carousel-dots li.slick-active button::before {
  color: white;
}

.carousel-tighten {
  width: calc(100% - 30px);
  transform: translateX(15px);
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .carousel-dots {
    display: none !important;
  }
}

.slick-track {
  display: flex;
  align-items: center;
}
