.menlo {
  font-family: Menlo, monospace !important;
}

.papyrus {
  font-family: Papyrus, fantasy !important;
}

.font-outline {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.white {
  color: white !important;
}

.bold {
  font-weight: bold !important;
}
