.main-font * {
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  font-family: Papyrus, fantasy !important;
  font-weight: bold !important;
}

.main-font a {
  text-decoration: underline;
}

.initial-font, .initial-font * {
  color: black !important;
  text-shadow: none !important;
  font-weight: normal !important;
}

.icons-font {
  font-family: Icons !important;
  font-style: normal !important;
  font-weight: 400 !important;
  margin: 0 !important;
}
