.p0 {
  padding: 0 !important;
}

.pt-tiny {
  padding-top: 0.1em !important;
}

.w8 {
  width: 8em;
}

.min-width-content {
  min-width: min-content;
}

.full-width {
  width: 100% !important;
}

.pt-slight {
  padding-top: 0.4em !important;
}

.pb0 {
  padding-bottom: 0 !important;
}
